@model List<YummyProject.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="text-center">
    <br />
    <h2>Mesaj Düzenleme Sayfası</h2>
    <br />
</div>

<br />
<h3>Okunmayan Mesajlar </h3>
<br />

<table class="table table-hover table-bordered">
    <tr>
        <th>Okundu İşaretle</th>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsRead == false)
        {
            <tr>
                @if (item.IsRead == false)
                {
                    <td><a href="/AdminMessage/IsRead/@item.MessageId" class="btn btn-warning">✓✓</a></td>
                }
                else
                {
                    <td></td>
                }

                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>

                <td>
                    @(item != null && !string.IsNullOrEmpty(item.MessageContent)
        ? (item.MessageContent.Length <= 60
            ? item.MessageContent
            : item.MessageContent.Substring(0, 60) + "...")
        : "Mesaj yok")
                </td>

                <td><a href="/AdminMessage/DeleteMessage/@item.MessageId" class="btn btn-danger">Sil</a></td>
                <td><a href="/AdminMessage/UpdateMessage/@item.MessageId" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    }
</table>

<br />
<h3>Okunan Mesajlar </h3>
<br />

<table class="table table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Okunma Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        if (item.IsRead == true)
        {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td> @(item.MessageContent.Length <= 60 ? item.MessageContent : item.MessageContent.Substring(0,60) + "...") </td>
                <td><button class="btn btn-outline-warning">✓✓</button></td>
                <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Message/UpdateMessage/@item.MessageId" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    }
</table>

<br />
<div class="text-center">
    <a href="/Message/AddMessage" class="btn btn-success">Yeni Mesaj Ekle</a>
</div>
