
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

﻿@model YummyProject.Models.About
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımızda Ekle</h2>

<form method="post">

    <label>Foto Url</label>
    @Html.TextAreaFor(a => a.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Item1</label>
    @Html.TextAreaFor(a => a.Item1, new { @class = "form-control" })
    <br />
    <label>Item2</label>
    @Html.TextAreaFor(a => a.Item2, new { @class = "form-control" })
    <br />
    <label>Item3</label>
    @Html.TextAreaFor(a => a.Item3, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(a => a.Description, new { @class = "form-control" })
    <br />
    <label>Video Url</label>
    @Html.TextAreaFor(a => a.VideoUrl, new { @class = "form-control" })
    <br />
    <label>Telefon</label>
    @Html.TextAreaFor(a => a.PhoneNumber, new { @class = "form-control" })
    <br />
    <label>Foto Url2</label>
    @Html.TextAreaFor(a => a.ImageUrl2, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>

</form>

